<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#tours">TOURS</a></li>
        <li><a href="#events">EVENTS</a></li>
        <li><a href="#routes">ROUTES</a></li>
        <li><a href="#stories">STORIES</a></li>
        <li><a href="#hospitality">HOSPITALITY</a></li>
        <li><a href="#contacts">CONTACTS</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">ACCOUNT
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if user_signed_in?%>
                <li><%= current_user.email %></li>
                <li><%= link_to "Log Out", destroy_user_session_path %></li> 
            <% else %>
                <li><%= link_to "Sign Up", new_user_registration_path %></li>
                <li><%= link_to "Log In", new_user_session_path %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
